<head>
    <title>Bertasbih</title>
    <style>
        body{
            background: green;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:white;
            padding: 150px;
        }
        h1{
            font-size: 72px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p{
            font-size: 32px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Ini Website <%= namaWeb %></h1>
    <p>Top Markotop <b><%= person.nama %></b> Umur <%= person.umur %></p>
</body>